@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fontePrincipal: 'Assistant', sans-serif;
    --verde:#30bb57;
    --amarelo:#fade00;
}

.principalContainer.horizontal{
    max-width: 500px;
    height: 200px;
    border: 2px solid #21863e;
    margin: 20px;
    border-radius: 12px;
    display: flex;
    
    background-color: white;
}

.principalContainer.vertical{
    width: 230px;
    height: 380px;
    border: 2px solid #30bb57;
    margin: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
   
    background-color: white;
}

.principalContainer.vertical:hover,
.principalContainer.horizontal:hover{
    cursor: pointer;
    box-shadow: 2px 2px 10px #30bb576e;
}

.carImage.horizontal{
    width: 50vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px 0 0 10px;
}

.carImage.vertical{
    width: 100%;
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px 10px 0 0;
}

.description{
    margin-left:5px;
}

.title, .modelTitle, .cidade, .paragrafo, .valor{
    font-family: 'Assistant', sans-serif;
}

.cidade.horizontal{
    background-color: var(--verde);
    border-radius: 10px 0 0 0 ;
    font-size: 14px;
    color: white;
    padding-left: 5px;
}

.cidade.vertical{
    background-color: var(--verde);
    border-radius: 10px 10px 0 0 ;
    font-size: 14px;
    color: white;
    padding-left: 5px;
}

.paragrafo{
    font-size: 14px;
}

.title{
    font-size: 20px;
}

.modelTitle.horizontal{
    font-size: 15px;
}

.carModel.horizontal{
    width: 150px;
}

.modelTitle.vertical{
    font-size: 15px;
}

.carModel.vertical{
    width: 200px;
}

.modelTitle{
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.valor{
    font-size: 18px;
}

.buttons{
    margin-top: 5px;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:3px;
}

.simular{
    font-family: 'Assistant', sans-serif;
    font-weight: 300;
    width: 143px;
    height: 30px;
    border-radius: 10px;
    color: white;
    background-color: #3174f1;
    border: none;
    padding: 5px;
}

.simular:hover{
    cursor: pointer;
    border: 2px solid #3174f1;
    background-color: white;
    color: black;
    font-weight: 400;
}

.contato{
    font-family: 'Assistant', sans-serif;
    font-weight: 500;
    width: 143px;
    height: 30px;
    border-radius: 10px;
    color: #3174f1;
    background-color: white;
    border: 2px solid var(--amarelo);
    padding: 5px;
}

.contato:hover{
    cursor: pointer;
    background-color: #fade00;
    color: #3174f1
}

@media (min-width:375px){
    .carModel.horizontal{
        width: 180px;
    }
}

@media (min-width:420px){
    .carModel.horizontal{
        width: 200px;
    }
}

@media (min-width:400px) and (max-width:515px){
    .principalContainer.vertical{
        width: 180px;
        height: 380px;
    }
    .carModel.vertical{
        width: 150px;
    }
}